<!--
    Create tabs with an icon and label, using the tabs-positive style.
    Each tab's child <ion-nav-view> directive will have its own
    navigation history that also transitions its views in and out.
-->
<!-- <ion&#45;tabs class="tabs&#45;icon&#45;top tabs&#45;color&#45;active&#45;positive"> -->
    <!-- <ion&#45;tab title="Home" icon&#45;off="ion&#45;home" icon&#45;on="ion&#45;home" href="#/tab/dash"> -->
        <ion-nav-view name="tab-dash"></ion-nav-view>
    <!-- </ion&#45;tab> -->
<!-- </ion&#45;tabs> -->
